
/* introduce css */

#section01-introduce {
    height: 650px;
    margin-top: 80px;
    display: flex;
    outline: 1px solid red;
}

#section02-introduce {
    height: 650px;
    margin-top: 80px;
    display: flex;
    outline: 1px solid red;
}


#introduce-banner {
    width: 100%;
    height: 150px;
    background: #d9d9d9;
    outline: 1px solid red;
}

#introduce-banner .intro{
    position: absolute;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 32px;
    outline: 1px solid red;
}

#section01-introduce .purpose {
    position: absolute;
    width: 100%;
    font-size: 32px;
    text-align: center;
}

#section01-introduce hr{
    position: absolute;
    width: 6%;
    margin-left: 47%;
    margin-top: 3%;
}

#section01-introduce img{
    position: absolute;
    margin-left: 10%;
    margin-top: 8%;
}

#section01-introduce .pose {
    position: absolute;
    width: 100%;
    left: 43%;
    font-size: 30px ;
    margin-top: 9%;
    margin-left: 4.8%;
}

#section02-introduce .ethics{
    position: absolute;
    width: 100%;
    font-size: 32px;
    text-align: center;
}

#section02-introduce hr{
    position: absolute;
    width: 6%;
    margin-left: 47%;
    margin-top: 3%;
}

#section02-introduce .swear01 {
    position: absolute;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

#section02-container {
    position: relative;
    width: 63%;
    height: 280px;
    margin-top: 10%;
    margin-left: 18%;
    border: 1px solid #000;
}

#section02-container .number{
    position: absolute;
    width: 100%;
    font-size: 25px;
    margin-top: 2.5%;
    margin-left: 3%;
}

#section02-introduce .swear02{
    position: absolute;
    width: 100%;
    font-size: 18px; 
    text-align: center;
    margin-top: 25%;
}

#section02-introduce .swear03{
    position: absolute;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 30%;
}
