
/* introduce css */

#section01-introduce {
    height: 650px;
    margin-top: 80px;
    outline: 1px solid red;
}

#section02-introduce {
    height: 650px;
    margin-top: 80px;
    outline: 1px solid red;
}


#introduce-banner {
    width: 100%;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #d3d3d3;
    font-size: 32px;
    color: #fff;
    background-image: url(../images/introduce-banner.jpg);
}

.introduce-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#section01-introduce .purpose {
    width: 100%;
    font-size: 32px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.introduce-hr {
    display: flex;
    justify-content: center;
}

.introduce-hr .introduce1-hr{
    width: 100px;
    margin-top: 10px;
    height: 1px;
    background: #000;
}

.introduce-container img{
    margin-left: 300px;
    margin-top: 50px;
}

.introduce-container .pose {
    position: relative;
    width: 100%;
    margin-top: 55px;
    margin-left: 90px;
    align-items: center;
    font-size: 30px ;
}

#section02-introduce .ethics{
    position: relative;
    width: 100%;
    font-size: 32px;
    text-align: center;
}

.introduce2-hr {
    display: flex;
    justify-content: center;
}

.introduce2-hr .introduce3-hr{
    width: 100px;
    margin-top: 10px;
    height: 1px;
    background: #000;
}

#section02-introduce .swear01 {
    position: relative;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

#section02-container {
    position: relative;
    width: 63%;
    height: 280px;
    margin-top: 30px;
    margin-left: 18%;
    border: 1px solid #000;
}

#section02-container .number{
    position: relative;
    width: 100%;
    font-size: 25px;
    margin-top: 2.5%;
    margin-left: 3%;
}

#section02-introduce .swear02{
    position: relative;
    width: 100%;
    font-size: 18px; 
    text-align: center;
    margin-top: 50px;
}

#section02-introduce .swear03{
    position: relative;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
