/* login css  */

#section01-login {
    height: 550px;
    margin-top: 80px;
    outline: 1px solid red;
    display: flex;
}

#login-logo img{
    position: relative;
    margin-top: 12%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 45.5%;
    /* margin-bottom: 38.58px;  */
}

#login-logo hr {
    position: absolute;
    width: 78%;
    margin-left: 12%;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;   
    background: #155295;
    border: 5px solid #155295;
}

.login-email input[type="email"] {
    position: absolute;
    width: 26%;
    height: 90px;
    margin-left: 39%;
    padding: 1%;
    align-items: center;
    justify-content: center;  
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 20px;
  }
  
  .login-email input[type="password"] {
    position: absolute;
    width: 26%;
    height: 90px;
    margin-left: 39%;
    margin-top: 6.5%;
    padding: 1%;
    align-items: center;
    justify-content: center;  
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 20px;
  }

.login-checkbox {
    position: absolute;
    width: 100%;
    padding-bottom: 20%;
    margin-left: 47%;
    margin-top: 13.5%;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}

.login-button {
    position: absolute;
    width: 26%;
    height: 50px;
    margin-left: 39%;
    margin-top: 16%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #155295;
    color: #fff;
}

.login-password {
    position: absolute;
    margin-left: 39%;
    width: 395px;
    margin-top: 21%;
    color: #155295;
    /* outline: 1px solid red; */
}

.login-password .passw {
    display: flex;
    justify-content: space-between;
}

.passl, .passR {
    margin: 0;
}

.login-hr1{
    position: absolute;
    width: 31%;
    margin-left: 14%;
    margin-top: 24%;
    border: 1px solid #666666;
    background: #666666 ;
}

.login-or p{
    position: absolute;
    width: 1%;
    height: 20px;
    margin-left: 51.3%;
    font-size: 16px;
    margin-top: 23%; 
    color: #666666;
    /* outline: 1px solid red; */
}

.login-hr2 {
    position: absolute;
    width: 31%;
    /* margin-left: 757px; */
    margin-left: 56.5%;
    margin-top: 24%;
    border: 1px solid #666666;
    background: #666666 ;
}

.login-sns{
    position: absolute;
    width: 6%;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    margin-top: 28%;
    margin-left: 48.5%;
    /* outline: 1px solid red; */
}

.login-sns a {
    margin: 0;
    color: #666666;
}