/* login css  */

#section01-login {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#section01-login01 {
    height: 600px;
    margin-top: 80px;
    width: 100%; 
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
}
#section01-login .col img {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login-logo-hr {
    display: flex;
    justify-content: center;
}

.login-logo-hr .logo-hr .h {
    width: 1070px;
    margin-top: 20px;
    height: 8px;
    background: #155295;
}

.login-email input[type="email"] {
    width: 26%;
    height: 90px;
    padding: 1%; 
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 20px;
  }
  
  .login-email input[type="password"] {
    width: 26%;
    height: 90px;
    margin-top: 20px;
    padding: 1%; 
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 20px;
  }

.login-button {
    width: 26%;
     height: 50px;
     font-size: 16px;
     margin-top: 20px;
     margin-bottom: 20px;
     border-radius: 10px;
     border: 1px solid #155295;
     background: #155295;
     color: #fff;
 }

.login-password {
    color: #155295;
}

.or-hr {
    display: flex;
    justify-content: center;
}

.or-hr .or-hrbx {
    display: flex;
    align-items: center;
}

.or-hr .or-hrbx .l {
    width: 500px;
    margin-top: 30px;
    height: 1px;
    background: #000;
}

.or-hr .or-hrbx p {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.or-hr .or-hrbx .r {
    margin-top: 30px;
    width: 500px;
    height: 1px;
    background: #000;
}

.login-sns {
    font-size: 32px;
    margin-top: 60px;
}

.login-sns a {
    color: #666666;
    margin-left: 8px;
}