/* mobile.css */

#section01-introduce 
,#section02-introduce {
width: 100%;
height: 50%;
}

#section01-login{
  width: 100%;
  height: 600px;
  /* outline: 1px solid red; */
}

/* introduce.css */
#section-introduce hr {
  width: 6%;
}
#section01-introduce img {
  width: 70%;
  margin-top: 30px;
  /* margin-left: 20px; */
}

#section01-introduce .pose{
  margin-top: 10%;
  margin-left: -37%;
  font-size: 14px;
}

#section02-container {
  width: 80%;
  margin-left: 10%;
}

#section02-introduce .number {
  font-size: 16px;
  margin-left: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 4%;
}

/* login.css */
#login-logo img {
  width: 35%;
  margin-left: 33%;
}

#login-logo hr {
  width: 85%;
  margin-left: 7.5%;
}

#section01-login .login-control {
width: 70%;
height: 50px;
margin-left: 15%;
font-size: 11px;
padding: 3%;
}

.login-button {
  width: 70%;
  height: 30px;
  font-size: 14px;
  margin-left: 15%;
}

.login-password {
  margin-left: 16%;
  width: 257px;
  margin-top: 15px;
  color: #155295;
  /* outline: 1px solid red; */
}

.login-password .passw {
  display: flex;
  justify-content: space-between;
}

.passl, .passR {
  margin: 0;
  font-size: 7.7px;
}

.login-hr2 {
  margin-left: 55%;
}

.login-or p {
  width: 3%;
  font-size: 12px;
  margin-left: 49.7%;
}

.login-sns {
  width: 25%;
margin-left: 39%;
font-size: 27px;
/* outline: 1px solid red; */
}
