/* mobile.css */

#section01-introduce  {
max-width: 1320px;
height: 800px;
}

#section02-introduce { 
  height: 900px;
  outline: 1px solid red;
}

#section01-login{
  width: 100%;
  height: 480px;
  margin-top: 25px;
}

/* introduce.css */
#introduce-banner {
  width: 100%;
  outline: 1px solid red;
}

.introduce-banner{
  width: 100%;
  text-align: center;
  outline: 1px solid red;
}

#section01-introduce .purpose {
  position: relative;
  text-align: center;
}

#section01-introduce hr {
  position: relative;
  width: 28%;
  margin-top: 10px;
  margin-left: 145px;
}

.introduce-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.introduce-container img{
  margin-top: 40px;
}

.introduce-container .pose {
  align-items: center;
  font-size: 16px ;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#section02-introduce .ethics{
  position: relative;
  width: 100%;
  font-size: 32px;
  text-align: center;
}

#section02-introduce hr {
  position: relative;
  width: 28%;
  margin-top: 10px;
  margin-left: 145px;
}

#section02-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#section02-container .number {
  width: 336px;
  font-size: 16px;
  margin-top: 30px;
  border: 1px solid #000;
}

.number p {
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px; 
}

#section02-introduce .swear01 {
  position: relative;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

#section02-container .swear02 {
  width: 100%;
  position: relative;
  font-size: 16px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#section02-container .swear03 {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: center;
}


/* login.css */
.login-logo img {
  width: 35%;
}

.login-logo-hr {
  display: flex;
  justify-content: center;
}

.login-logo-hr .logo-hr .h {
  width: 300px;
  margin-top: 20px;
  height: 8px;
  background: #155295;
}

.login-email input[type="email"] {
  width: 75%;
  height: 50px;
  font-size: 11px;
}

.login-email input[type="password"] {
  width: 75%;
  height: 50px;
  font-size: 11px;

}

.login-button {
  width: 75%;
  height: 40px;
  font-size: 14px;
  margin-top: 20px;
}

.login-password  {
  color: #155295;
}

.or-hr .or-hrbx .l {
  width: 120px;
  margin-top: 30px;
  height: 1px;
  background: #000;
}

.or-hr .or-hrbx p {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.or-hr .or-hrbx .r {
  margin-top: 30px;
  width: 120px;
  height: 1px;
  background: #000;
}

.login-sns {
  font-size: 27px;
}
