/* mobile.css */

/* #toggle-btn {
    border-style: none;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
  } */
  
  .bi-list {
    font-size: 18px;
  }

  .container {
    width: 100%;
    /* max-width: 1440px;
    margin: 0 auto; */
    padding-left: 20px;
    padding-right: 20px;
    outline: 1px solid green;
  }

  #login-logo {
    text-align: center;
  }

  /* 메인 비주얼 */
#main-visual {
    /* background: #FCEEAD; */
    width: 100%;
    height: calc(100vh - var(--mobile-header-height));
    box-sizing: content-box;
    padding-top: var(--mobile-header-height);  
  }
  
  #main-visual .container {
    display: block;
    /* background: #ccc; */
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }