/* pc layout */
.container {
    width: 100%;
    margin: 0 auto;
    /* background: #ccc; */
}
/* main-header */
#main-header {
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 10;
    background: #fff;
    position: fixed;
}

#main-header .container {
    position: relative;
}

#main-header .nav-bg {
    position: absolute;
    width: 100%;
    height: 300px;
    background: #155299;
    opacity: 0.8;
    left: 0;
    top: 90px;
    display: none;
}

#main-header h1 {
    padding-left: 20px;
    padding-top: 18px;
    float: left;
}

#main-header nav {
    width: 800px;
    float: right;
    text-align: center;
    margin-right: 180px;
}

#main-header nav ul.gnb {
    width: 100%;
}

#main-header nav ul.gnb>li {
    width: 20%;
    float: left;
    position: relative;
    height: 90px;
    line-height: 90px;
}

#main-header nav ul.gnb>li>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 20px;
}


#main-header nav ul.gnb>li:hover>a {
    color : #155299;
}

#main-header nav ul.gnb>li>ul.sub {
    width: 100%;
    height: 210px;
    display: none;
}

#main-header nav ul.gnb>li>ul.sub>li {
    width: 100%;
    /* height: 40px; */
    line-height: 60px;
    font-size: 18px;
}

#main-header nav ul.gnb>li>ul.sub>li>a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

#main-header nav ul.gnb>li>ul.sub>li:hover>a {
    color: #000;
    font-weight: 700;
}

#log-btn {
    background: none;
    border: 2px solid #155299;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    width: 72px;
    height: 32px;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 30px;
    cursor: pointer;
}

#log-btn:hover {
    background: #155299;
}

#log-btn a{
    color: #155299;
}

#log-btn a:hover {
    color: #fff;
}

#toggle-btn {
    display: none;
}

#menu {
    display: none;
}

/* main-visual */
#main-visual {
    width: 100%;
    /* height: 460px; */
    position: relative;
    /* background: #155299; */
    top: 90px;
}


.swiper {
    width: 100%;
    /* height: 460px; */
}

.swiper-slide img {
    width: 100%;
    /* height: 460px; */
}


.swiper-pagination-bullet { 
    width: 15px; 
    height: 15px; 
    background: #fff; 
    border: 1px solid #155299; 
    opacity: 1; 
}

.swiper-pagination-bullet-active { 
    width: 15px; 
    background: #155299; 
    border: 1px solid transparent; 
}



/* Contents */
#contents {
    width: 1440px;
    height: 610px;
    position: relative;
    top: 100px;
    /* border: 1px solid #000; */
}


.con1 {
    display: flex;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
    animation-name: con1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes con1 {
    0% {
        opacity: 0;
    }
    5%{
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.con2 {
    display: flex;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: con2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes con2 {
    0% {
        opacity: 0;
    }
    45% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }

}


.text {
    width: 700px;
    height: 552px;
    background: url(../images/content-logo.png);
    background-repeat: no-repeat;
    background-position-x: right;
}



.logo-img {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text-box {
    /* text-align: center; */
    display: block;
    text-align: center;
}

.text-box p {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 500;
}

.text-box span {
    color: #155299;
    font-weight: 700;
}

.text a {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2.5px solid #155299;
    color: #155299;
    width: 120px;
    line-height: 150px;
}

/* count */

#main-count {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 249px;
    margin-top: 100px;
    background: #155299;
}


.circle {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
    color: #fff;
}

.count p {
    text-align: center;
    font-size: 24px;
    color: #fff;
}


/* main */

#main {
    width: 100%x;
    height: 462px;
    margin-top: 60px;
    position: relative;
    display: flex;
    background: #f2f3f4;
    justify-content: center;
    /* outline: 1px solid #ccc; */
}

#main h1 { 
    font-size: 24px;
    font-weight: 700;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-bottom: 10px;
}

#main .container {
    position: relative;
}

#main .main-wrap {
    margin-top: 30px;
}

.tab_buttons {
    display: flex;
    padding-left: 30px;
}

#main .tab_buttons a.news-btn,
#main .tab_buttons a.notice-btn {
  /* border: 1px solid #000; */
  display: flex;
  width: 350px;
  height: 52px;
  /* margin-top: 30px; */
  justify-content: center;
  align-items: center;
  /* color: #000; */
  
}

.news-btn {
    border-top-left-radius: 10px;
    background: #155299;
    color: #fff;
}


.notice-btn {
    border-top-right-radius: 10px;
    background: #6ba2e6;
    color: #fff;
}

#news {
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
    display: none;
}

#news.on {
    display: block;
}

#news .col {
    top: 0;
    left: 0;
    position: relative;
    width: 700px;
    height: 85px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
}

#news .col span {   
    font-size: 20px;
    font-weight: 500;
}

#news .col button {
    background: transparent;
    border: none;
    color: #999;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    margin-bottom: 30px;
    font-size: 24px;
    right: 0;
    bottom: 0;
}


#notice {
    width: 700px;
    height: 220px;
    margin-top: 40px;
    margin-left: 30px;
    border-top: 2.5px solid #666;
    display: none;   
}

#notice.on {
    display: block;
}

#notice ul > li > a {
    width: 700px;
    line-height: 75px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.write {
    font-size: 20px;
    color: #666;
}

.video {
    /* background: #ccc; */
    width: 640px;
    height: 360px;
    margin-left: 40px;
    margin-top: 72px;
}




/* footer */

footer {
    width: 100%;
    height: 160px;
    /* background: #f2f3f4; */
    margin-top: 74px;
}

footer .container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

footer h1 {
    padding-left: 20px;
    padding-top: 26px;
    padding-bottom: 10px;
}

footer p {
    padding-left: 20px;
    font-size: 16px;
    color: #888;
}

.site {
    padding-top: 26px;
    padding-right: 20px;
}

select {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    text-align-last: center;
    color: #888;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border-style: none;
    border-bottom: 1px solid #888;
    background: url(../images/up.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    outline: none;
}

.icon-box {
    /* margin-top: 10px; */
}

.icon-box a{
    font-size: 40px;
    color: #666;
    padding-right: 18px;
}